html,
body {
  font-family: 'FE';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(#333, 1%, #fff);
}

/* ШАПКА */
.banner {
  background-image: url('banner3.jpg');
  position: relative;
  width: 100%;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.head-block {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  text-align: center;
}
.head-block h1 {
  font-size: 4.3rem;
}
.head-block h1 span {
  font-weight: bold;
  background: linear-gradient(90deg, #ff6d01, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head-block h1 strong {
  color: #ff6d01;
}
.head-block h3 {
  font-size: 1.5rem;
}
.head-block button {
  background-color: #ff6d01;
  padding: 10px 20px;
  margin-top: 50px;
  border: none;
  border-radius: 5;
  font-family: FE;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 5px;
}
.head-block button:hover {
  background-color: black;
  color: #ddd;
  cursor: pointer;
}
header {
  /* background-color: #222; */
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
header .logo {
  display: flex;
  align-items: center;
  width: 20%;
}
header .nav-contacts {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.nav-contacts a {
  text-align: right;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}
header nav {
  align-self: center;
  justify-self: center;
}
header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
.active-link {
  position: relative;
}
.active-link:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin: 0;
  padding: 0;

  background-color: #fff;
  pointer-events: none;

  position: absolute;
  left: 0%;
  top: 100%;
}

header nav ul li a:hover {
  color: orange;
}

header .menu-toggle {
  display: none;
  cursor: pointer;
}

header .menu-toggle .line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.2s ease;
}
header nav ul.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 40%;
  right: 0;
  background-color: #333;
}

header nav ul.active li {
  margin: 10px 0;
}

header nav ul.active li a {
  font-size: 1.3em;
  padding: 10px;
  border-radius: 5px;
  /* background-color: #555; */
  color: white;
  transition: all 0.2s ease;
}
header nav ul.active li a:hover {
  background-color: orange;
}

header .menu-toggle.active .line:nth-of-type(1) {
  transform: rotate(90deg) translate(-5px, 0px);
}

header .menu-toggle.active .line:nth-of-type(2) {
  transform: rotate(-90deg) translate(13px, 10px);
}

header .menu-toggle.active .line:nth-of-type(3) {
  transform: rotate(-90deg) translate(21px, 20px);
}

main {
  margin-top: 100px;
}
.services_box,
.benefits_box,
.folio_box,
.price_box,
.contacts_box {
  margin: 0;
  margin-bottom: 7%;
  width: 100%;
  height: 700px;
  /* background-color: gray; */
}

.block-title {
  margin: 0;
  width: 50%;
  color: orange;
}
.block-title div {
  /* background-color: #333; */
  position: relative;
}
.block-title h1 {
  font-family: 'FE';
  font-weight: bold;
  padding: 10px;
  display: block;
  font-size: 3.2rem;
  margin-bottom: 0;
}
.orange-block {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #333; */
  width: 50%;
  height: 105%;
  z-index: 0;
}
/* СЕРВИСЫ */
.services_box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services {
  z-index: 2;
  display: flex;
  overflow-x: auto;
  height: 100%;
}
.service-name {
  font-size: 1.5rem;
  color: #ddd;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.service-name h1 {
  margin: 0 auto;
  padding: 10px;
}

.service {
  margin-right: 20px;
  flex: 0 0 auto;
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
}
.last-srv {
  margin-right: 0;
}
.service-text {
  width: 95%;
  margin: 0;
  padding: 0;
}
.service p {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  text-shadow: 1px 1px #000;
  font-size: 1.6rem;
  color: #333;
}

.service {
  background-size: cover;
  background-position: center;
}

.service button {
  background-color: #ff6d01;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: FE;
  font-size: 1.5rem;
}
.service button:hover {
  background-color: black;
  color: #ddd;
  cursor: pointer;
}

.srv-btn {
  z-index: 2;
  cursor: pointer;
  margin: 0 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.srv-btn img {
  width: 50%;
}
.prevbtn {
  margin-left: 0;
}
.nextbtn {
  margin-right: 0;
}
.prevbtn img {
  transform: rotate(-90deg);
}
.nextbtn img {
  transform: rotate(90deg);
}

.services::-webkit-scrollbar {
  height: 7px;
}

.services::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #ddd;
  border-radius: 10px;
}

.services::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background: #333;
}

/* ПРАЙС */
.price_box {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 600px;
  margin-top: 0;
}
.price-item {
  z-index: 1;
  width: 33.3%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
}
.price-item div {
  width: 100%;
  cursor: pointer;
}

.active-price {
  background-color: #333;
}
.active-price h3 {
  color: #ddd;
}
.active-price h3 strong {
  color: orange;
}
.price-description {
  z-index: 1;
  width: 66.6%;
  height: 100%;
  background-image: url('banner.jpg');
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-description .descr-back {
  width: 90%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-description .description-p {
  overflow-y: auto;
  margin: 20px;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
}
.none {
  display: none;
}

@media (max-width: 768px) {
  .header-descr div h3 {
    font-size: 1.3rem;
  }
  header nav ul {
    display: none;
  }
  header .menu-toggle {
    display: block;
  }
  header .nav-contacts {
    display: none;
  }
  .head-block {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .head-block h3 {
    text-align: center;
  }
  .service-name {
    font-size: 1.3rem;
  }
  .service p {
    text-shadow: none;
    font-size: 1rem;
  }
  .services_box {
    height: 550px;
  }
  .service {
    width: 300px;
  }
  .service-name {
    font-size: 1.1rem;
  }
  .price-item {
    width: 60%;
  }
  .price-header {
    font-size: 15px;
  }
  .price-description,
  .descr-back,
  .description-p {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
  .description-p p {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 1rem;
  }
  .prevbtn,
  .nextbtn {
    display: none;
  }
}

@media (min-width: 769px) {
  header nav ul {
    display: flex;
  }
  header .menu-toggle {
    display: none;
  }
}
@media (min-width: 901px) {
  .price-header h3 {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: linear;
  }
  .price-header h3:hover {
    transform: scale(1.3);
  }
}
@media (max-width: 900px) {
  .head-block h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 960px) {
  .block-title {
    width: 75%;
    font-size: 20px;
  }
  .orange-block {
    height: 720px;
    width: 75%;
  }
}
@media (max-width: 647px) {
  .block-title h1 {
    font-size: 30px;
  }

  .srv-btn {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1090px) {
  .head-block h1 {
    font-size: 3.5rem;
  }
  .head-block h3 {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .head-block h1 {
    font-size: 2.5rem;
  }
}
@media (max-height: 800px) {
  .services_box {
    height: 650px;
  }
  .service {
    width: 418px;
  }
}
@font-face {
  font-family: 'FE';
  src: url('fonts/FE.otf') format('opentype');
  font-weight: 100;
}
@font-face {
  font-family: 'KV';
  src: url('fonts/KV.ttf') format('truetype');
  font-weight: 100;
}

main {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #ddd;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background: linear-gradient(
    180deg,
    rgba(255, 89, 0, 0.7),
    rgba(255, 89, 0, 0.7)
  );
}

.description-p::-webkit-scrollbar {
  width: 7px;
}

.description-p::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #ddd;
  border-radius: 10px;
}

.description-p::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background: #333;
}
